[storage.config]
type = file
basepath = conf
backups = true

[storage.data]
type = json
path = datafile.json
backups = false

[general]
verbosity = 1
pluginsDirectory = Plugins
plugins = Currency

[tikal]
enabled = true
address = 127.0.0.1
port = 8081
token = 
tokenless = false

[twitch.auth]
clientId = 
clientSecret =

[servers.twitch]
address = irc.twitch.tv
port = 6667
name =
channels =
password =

[plugin.Currency]
currencyName = HedgebotCoin
currencyNamePlural = HedgebotCoins
statusCommand = money
statusMessage = Hey @name, you have @total @currency !
initialAmount = 100

[plugin.Twitter]
consumerApiKey=
consumerSecretKey=
oauthCallbackUrl=
deleteSentTweets=false
resetSentDelay=3600