[storage.config]
type = file
basepath = conf
backups = true

[storage.data]
type = json
path = datafile.json
backups = false

[general]
verbosity = 1
pluginsDirectory = Plugins
plugins = Currency

[servers.twitch]
address = irc.twitch.tv
port = 6667
name = 
channels =
password =

[tikal]
enabled = true
address = 127.0.0.1
port = 8081
token = 
tokenless = false

[twitch.auth]
clientId = 
clientSecret =